/*TODO: Set colours as variables*/

.main-navbar {
    background-color: #FFF;
    border-radius: .375rem;
    margin: 1rem 1rem 0rem 1rem;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .375rem .75rem;
    border-radius: .375rem;
    text-decoration: none;
    color: var(--text);
    transition: 0.3s;
}

.nav-btn:hover {
    background: #41ac4f;
    transform: scale(1.01);
}

.nav-btn.active {
    background: #41ac4f;
    color: var(--text)
}