@use '../../styles/bootstrap-utils' as bp;

.countdown {
}

.clock {
    background-color: black;
    color: #f80e10;
    font-family: 'DSEG7 Classic';

    // Scale the font relative to the view window with min and max
    font-size: clamp(2px, 6vw, 50px);
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 0;

    .digit {
        position: relative;

        &::before {
            content: "88";
            position: absolute;
            left: 0;
            color: #f80e10;
            opacity: 0.15;
        }
    }

    .separator {
        position: relative;
        padding-left: 12px;
    }
}

.countdownImage {
    width: clamp(40px, 12vw, 160px);
}

.ghosted {
    opacity: 0.15;
}

#days {
    border-radius: 10px 0px 0px 10px;
}

#hours {
    border-radius: 0px 0px 0px 0px;
}

#minutes {
    border-radius: 00px 0px 0px 0px;
}

#seconds {
    border-radius: 0px 10px 10px 0px;
}

.label {
    font-size: clamp(10px, 1.5vw, 20px);
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 10px;
}
