#root {
    margin: 0 auto;
    text-align: center;
    background: var(--bg);
}

.card-box {
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: left;
}

.card-box p {
    padding: 0.5rem;
}

.home-image {
    /*width: auto;
    height: 5%;*/

}