#root {
    margin: 0 auto;
    text-align: center;
    background: var(--bg);
}

.card-box {
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    background-color: #9F9F9FC8;
    overflow: hidden;
    text-align: left;
}

.home-image {
    max-height: 400px;
    object-fit: cover;
}